# 1. First create a list in Python (Ex- [12,35,18,9,56,24]). Next find mean and median of the list without using any built-in/Library Functions.

In [2]:
lst=[12,35,18,9,56,24]
n=len(lst)
s=sum(lst)
mean=s/n
print("Mean is:",mean)
lst.sort()
if n%2==0:
  mid1=lst[n//2]
  mid2=lst[n//2-1]
  median=(mid1+mid2)/2
else:
  median=lst[n//2]
print("Median is:",median)

Mean is: 25.666666666666668
Median is: 21.0

## 2. First create a list in python (Ex- [2,3,1,1,6,2,1,5]), next find the mode of the list without using any built-in/library functions.

In [3]:
lst1=[2,3,1,1,6,2,1,5]
lst1.sort()
lst2=[]
res=[]
for i in lst1:
  lst2.append(lst1.count(i))
dic=dict(zip(lst1,lst2))
for k,v in dic.items():
  if v==max(lst2):
    res.append(k)
print("Mode is:",res)

Mode is: [1]

## 3. First create a list in Python (Ex- [12,35,18,9,56,24]). Next find the second smallest number and second highest number in the list.

In [4]:
lst=[12,35,18,9,56,24]
lst.sort()
print("Second Smallest:",lst[1])
print("Second highest:",lst[-2])

Second Smallest: 12
Second highest: 35