# 1) Download a dataset from kaggle and upload it in jupyter notebook or google colab. Perform any random operation on the dataset.

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import files  
uploaded = files.upload()

Saving cars.csv to cars.csv

In [4]:
import io
df = pd.read_csv(io.BytesIO(uploaded['cars.csv']))
df

    Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin
0    STRING;DOUBLE;INT;DOUBLE;DOUBLE;DOUBLE;DOUBLE;...
1    Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3...
2    Buick Skylark 320;15.0;8;350.0;165.0;3693.;11....
3    Plymouth Satellite;18.0;8;318.0;150.0;3436.;11...
4    AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US
..                                                 ...
402  Ford Mustang GL;27.0;4;140.0;86.00;2790.;15.6;...
403  Volkswagen Pickup;44.0;4;97.00;52.00;2130.;24....
404  Dodge Rampage;32.0;4;135.0;84.00;2295.;11.6;82;US
405    Ford Ranger;28.0;4;120.0;79.00;2625.;18.6;82;US
406     Chevy S-10;31.0;4;119.0;82.00;2720.;19.4;82;US

[407 rows x 1 columns]

# 2)
# A) Defining three random arrays: a one-dimensional (x1),two-dimensional (x2) and three-dimensional array(x3). Use NumPy’s random number generator, which we will seed with a set value in order to ensure that the same random arrays are generated each time this code is run.
# B) Display the ndim (the number of dimensions), shape (the size of each dimension), and size (the total size of the array) of the third array (x3).

In [5]:
np.random.seed(0)

x1 = np.random.randint(10, size=6)
x2 = np.random.randint(10, size=(3, 4))
x3 = np.random.randint(10, size=(3, 4, 5))

In [6]:
print("x3 ndim: ", x3.ndim)
print("x3 shape:", x3.shape)
print("x3 size: ", x3.size)

x3 ndim:  3
x3 shape: (3, 4, 5)
x3 size:  60

# 3) Create two numpy arrays named X and Y of integers using range (1-10) and (11-20) command. Next, create a new array Z by concatenate X and Y.

In [7]:
X = np.arange(1,10,dtype = int)
Y = np.arange(11,20,dtype = int)
Z = np.concatenate((X, Y))
print(Z)

[ 1  2  3  4  5  6  7  8  9 11 12 13 14 15 16 17 18 19]

# 4) Define a two-dimensional (X2). Concatenate X2 with X2.

In [8]:
X = np.array([[1,2,3],[4,5,6]])
Y = np.array([[11,12,13],[14,15,16]])
Z = np.concatenate((X, Y))
print(Z)

[[ 1  2  3]
 [ 4  5  6]
 [11 12 13]
 [14 15 16]]

# 5)
# A) Create a numpy array named x of integers using range (1-10) command.
# B) Next, perform x+5, x-5, x/5, x*5, x^2, x%2, log(x),log2(x), log10(x) operations over X.
# C) Finally, compute some trigonometric functions (sin, cos,tan) on X.

In [9]:
X = np.arange(1,10,dtype = int)
print("X+5: ",X+5)
X = np.arange(1,10,dtype = int)
print("X-5: ",X-5)
X = np.arange(1,10,dtype = int)
print("X/5: ",X/5)
X = np.arange(1,10,dtype = int)
print("X*5: ",X*5)
X = np.arange(1,10,dtype = int)
print("X^2: ",np.power(X, 2))
X = np.arange(1,10,dtype = int)
print("X%2: ",np.mod(X,2))
X = np.arange(1,10,dtype = int)
print("log(X): ", np.log(X))
X = np.arange(1,10,dtype = int)
print("log2(X): ", np.log2(X))
X = np.arange(1,10,dtype = int)
print("log10(X): ", np.log10(X))
X = np.arange(1,10,dtype = int)
print("sin: ",np.sin(X))
X = np.arange(1,10,dtype = int)
print("cos: ",np.cos(X))
X = np.arange(1,10,dtype = int)
print("tan: ",np.tan(X))

X+5:  [ 6  7  8  9 10 11 12 13 14]
X-5:  [-4 -3 -2 -1  0  1  2  3  4]
X/5:  [0.2 0.4 0.6 0.8 1.  1.2 1.4 1.6 1.8]
X*5:  [ 5 10 15 20 25 30 35 40 45]
X^2:  [ 1  4  9 16 25 36 49 64 81]
X%2:  [1 0 1 0 1 0 1 0 1]
log(X):  [0.         0.69314718 1.09861229 1.38629436 1.60943791 1.79175947
 1.94591015 2.07944154 2.19722458]
log2(X):  [0.         1.         1.5849625  2.         2.32192809 2.5849625
 2.80735492 3.         3.169925  ]
log10(X):  [0.         0.30103    0.47712125 0.60205999 0.69897    0.77815125
 0.84509804 0.90308999 0.95424251]
sin:  [ 0.84147098  0.90929743  0.14112001 -0.7568025  -0.95892427 -0.2794155
  0.6569866   0.98935825  0.41211849]
cos:  [ 0.54030231 -0.41614684 -0.9899925  -0.65364362  0.28366219  0.96017029
  0.75390225 -0.14550003 -0.91113026]
tan:  [ 1.55740772 -2.18503986 -0.14254654  1.15782128 -3.38051501 -0.29100619
  0.87144798 -6.79971146 -0.45231566]