# 1)
# A) Create a Dataframe (size= 3x4) with random integers with explicit indexing.
# B) Perform sin(df * pi / 4) operation over the dataframe
# C) Subtract first value of the dataframe from each elements of the dataframe.
# D) Subtract first row of the dataframe from each rows of the dataframe.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.randint(0,100,size=(3, 4)), columns=list('ABCD'))
df

    A   B   C   D
0  49  42  88  15
1  79  73  82   2
2  23  10  41  66

In [4]:
np.sin(df * np.pi / 4)

          A         B             C         D
0  0.707107  1.000000 -9.799650e-15 -0.707107
1 -0.707107  0.707107  1.000000e+00  1.000000
2 -0.707107  1.000000  7.071068e-01  1.000000

In [7]:
df = pd.DataFrame(np.random.randint(0,100,size=(3, 4)), columns=list('ABCD'))
first_value=df.iloc[0][0]
print(df.subtract(first_value, axis = 1))

    A   B   C   D
0   0 -13   8 -12
1 -25 -58 -57 -25
2  19 -13 -37 -44

In [8]:
df = pd.DataFrame(np.random.randint(0,100,size=(3, 4)), columns=list('ABCD'))
first_row=df.iloc[0]
print(df.subtract(first_row, axis = 1))

    A   B   C   D
0   0   0   0   0
1  -8 -34  36 -21
2 -16 -35  69 -62

# 2) Write python program:
# A) Read a CSV file using pandas data frame.
# B) Display the first 8 rows of the data.
# C) Display the last 7 rows of the data.
# D) Get and display the data types used in this data. Get and display the unique values available under a particular attribute.

In [19]:
df = pd.read_csv ('cars.csv')

In [20]:
result = df.head(8)
print(result)

  Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin
0  STRING;DOUBLE;INT;DOUBLE;DOUBLE;DOUBLE;DOUBLE;...
1  Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3...
2  Buick Skylark 320;15.0;8;350.0;165.0;3693.;11....
3  Plymouth Satellite;18.0;8;318.0;150.0;3436.;11...
4  AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US
5    Ford Torino;17.0;8;302.0;140.0;3449.;10.5;70;US
6  Ford Galaxie 500;15.0;8;429.0;198.0;4341.;10.0...
7  Chevrolet Impala;14.0;8;454.0;220.0;4354.;9.0;...

In [21]:
print(df.tail(7))

    Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin
400  Dodge Charger 2.2;36.0;4;135.0;84.00;2370.;13....
401  Chevrolet Camaro;27.0;4;151.0;90.00;2950.;17.3...
402  Ford Mustang GL;27.0;4;140.0;86.00;2790.;15.6;...
403  Volkswagen Pickup;44.0;4;97.00;52.00;2130.;24....
404  Dodge Rampage;32.0;4;135.0;84.00;2295.;11.6;82;US
405    Ford Ranger;28.0;4;120.0;79.00;2625.;18.6;82;US
406     Chevy S-10;31.0;4;119.0;82.00;2720.;19.4;82;US

In [22]:
print(df.dtypes)

Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin    object
dtype: object

In [27]:
gapminder_csv_url ='http://bit.ly/2cLzoxH'
record = pd.read_csv(gapminder_csv_url)  
print(record['continent'].unique())

['Asia' 'Europe' 'Africa' 'Americas' 'Oceania']

# 3) Write a python program:
# A) Read a dataset (Ex, iris.csv) using pandas data frame.
# B) Rename a column.
# C) Filter the data using some condition (Ex. sepal length >7.2).
# D) Find the mean and standard deviation value for each attribute.

In [28]:
df2 = pd.read_csv("iris.csv")
print(df2)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [29]:
print(df2.rename(columns={'sepal.width': 'SEPAL WIDTH'}))

     sepal.length  SEPAL WIDTH  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [30]:
df2[df2['sepal.length'] > 7.2]

     sepal.length  sepal.width  petal.length  petal.width    variety
105           7.6          3.0           6.6          2.1  Virginica
107           7.3          2.9           6.3          1.8  Virginica
117           7.7          3.8           6.7          2.2  Virginica
118           7.7          2.6           6.9          2.3  Virginica
122           7.7          2.8           6.7          2.0  Virginica
130           7.4          2.8           6.1          1.9  Virginica
131           7.9          3.8           6.4          2.0  Virginica
135           7.7          3.0           6.1          2.3  Virginica

In [31]:
df2.std(axis = 1, skipna = True)

0      2.179449
1      2.036950
2      1.997498
3      1.912241
4      2.156386
         ...
145    2.021551
146    2.075853
147    2.046745
148    1.791415
149    1.884144
Length: 150, dtype: float64

In [32]:
df2.mean(axis = 0)

sepal.length    5.843333
sepal.width     3.057333
petal.length    3.758000
petal.width     1.199333
dtype: float64

# 4) Write a python program:
# A) Read a dataset (Ex, iris.csv) data using pandas data frame.
# B) Next, check if there exist any duplicate values.
# C) If exist any duplicate values then remove the duplicate values.

In [33]:
df2 = pd.read_csv("iris.csv")
print(df2)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [34]:
duplicate = df2[df2.duplicated()]
print(duplicate)

     sepal.length  sepal.width  petal.length  petal.width    variety
142           5.8          2.7           5.1          1.9  Virginica

In [36]:
df2.drop_duplicates(keep=False,inplace=True)
df2

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[148 rows x 5 columns]

# 5) Show using a program how to group data in python using pandas.

In [38]:
df3 = pd.read_csv("nba.csv")
df3

              Name            Team  ...            College     Salary
0    Avery Bradley  Boston Celtics  ...              Texas  7730337.0
1      Jae Crowder  Boston Celtics  ...          Marquette  6796117.0
2     John Holland  Boston Celtics  ...  Boston University        NaN
3      R.J. Hunter  Boston Celtics  ...      Georgia State  1148640.0
4    Jonas Jerebko  Boston Celtics  ...                NaN  5000000.0
..             ...             ...  ...                ...        ...
453   Shelvin Mack       Utah Jazz  ...             Butler  2433333.0
454      Raul Neto       Utah Jazz  ...                NaN   900000.0
455   Tibor Pleiss       Utah Jazz  ...                NaN  2900000.0
456    Jeff Withey       Utah Jazz  ...             Kansas   947276.0
457            NaN             NaN  ...                NaN        NaN

[458 rows x 9 columns]

In [39]:
gk = df3.groupby('Team')
gk.first()

                                         Name  ...      Salary
Team                                           ...
Atlanta Hawks                   Kent Bazemore  ...   2000000.0
Boston Celtics                  Avery Bradley  ...   7730337.0
Brooklyn Nets                Bojan Bogdanovic  ...   3425510.0
Charlotte Hornets               Nicolas Batum  ...  13125306.0
Chicago Bulls                Cameron Bairstow  ...    845059.0
Cleveland Cavaliers       Matthew Dellavedova  ...   1147276.0
Dallas Mavericks              Justin Anderson  ...   1449000.0
Denver Nuggets                 Darrell Arthur  ...   2814000.0
Detroit Pistons                  Joel Anthony  ...   2500000.0
Golden State Warriors         Leandro Barbosa  ...   2500000.0
Houston Rockets                  Trevor Ariza  ...   8193030.0
Indiana Pacers                    Lavoy Allen  ...   4050000.0
Los Angeles Clippers             Cole Aldrich  ...   1100602.0
Los Angeles Lakers               Brandon Bass  ...   3000000.0
Memphis Grizzlies                Jordan Adams  ...   1404600.0
Miami Heat                         Chris Bosh  ...  22192730.0
Milwaukee Bucks         Giannis Antetokounmpo  ...   1953960.0
Minnesota Timberwolves        Nemanja Bjelica  ...   3950001.0
New Orleans Pelicans            Alexis Ajinca  ...   4389607.0
New York Knicks                 Arron Afflalo  ...   8000000.0
Oklahoma City Thunder            Steven Adams  ...   2279040.0
Orlando Magic                  Dewayne Dedmon  ...    947276.0
Philadelphia 76ers                Elton Brand  ...    947276.0
Phoenix Suns                     Eric Bledsoe  ...  13500000.0
Portland Trail Blazers        Cliff Alexander  ...    525093.0
Sacramento Kings                   Quincy Acy  ...    981348.0
San Antonio Spurs           LaMarcus Aldridge  ...  19689000.0
Toronto Raptors               Bismack Biyombo  ...   2814000.0
Utah Jazz                       Trevor Booker  ...   4775000.0
Washington Wizards              Alan Anderson  ...   4000000.0

[30 rows x 8 columns]